.contact {
  padding-top: 3rem;
  text-align: center;
}

.footer {
  margin: 0.7rem 0;
  display: flex;
  justify-content: space-around;
}

.con {
  padding-top: 2rem;
}

#email {
  font-family: "Darker Grotesque";
  font-weight: 600;
  font-size: 3rem;
}

@media screen and (min-width: 375px) and (max-width: 700px) {
  #email {
    font-size: 2.5rem;
  }
}
