.navigation {
  padding: 2.5rem 40rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

li {
  display: inline-block;
  padding: 0 2rem;
  font-weight: 500;
  color: var(--secondary-color);
}

.logo {
  height: 3.4rem;
}

a:hover {
  color: var(--secondary-color);
}

@media screen and (min-width: 375px) and (max-width: 700px) {
  .navigation {
    padding: 1.5rem 0;
    margin: 0;
    flex-direction: column;
  }
  .navigation > img {
    padding-bottom: 1rem;
  }
}
