#projects {
  padding: 0 40rem;
  margin: 0 auto;
}

.pro {
  margin: 2rem 0 3rem 0;
  width: 11rem;
}

.display-project {
  display: flex;
  align-items: center;
  padding: 2rem 0;
}

.projects-label {
  display: flex;
}

.title-project {
  font-weight: 700;
  padding: 1rem 0;
  font-size: 3rem;
}

.flix {
  border: 2px solid #e57e44;
}

.desc-project {
  padding-right: 15rem;
}

.project-preview {
  height: auto;
  width: 35rem;
  border-radius: 20px;
}
.line {
  border-bottom: 1px solid var(--secondary-color);
}

@media screen and (min-width: 375px) and (max-width: 700px) {
  #projects {
    margin: 0 5rem;
    padding: 0;
  }
  .display-project {
    flex-direction: column;
    padding: 5rem 0;
  }

  .desc-project {
    padding-right: 0;
    padding-bottom: 1.5rem;
  }
  .project-preview {
    height: 27rem;
    width: 40rem;
  }
  .pro {
    width: 9rem;
    margin-bottom: 0;
  }
}
