html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 1.4;
  font-family: Inter, sans-serif;
  color: #1e1e1e;
  background-color: white;
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
